.modal {
   /* Hidden by default */
    position: fixed; /* Stay in place */
  /* Sit on top */
     /* Location of the box */
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
    z-index: 102;
    display: block;
  }
  
  /* Modal Content */
  .modal-content1 {
    
    margin: auto;
    margin-top: 50px;
    width: 50%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .w3-modal{
    color: blue;
    width: 100vw;
    height: 100vh;
  
    position: absolute;
    top:0;
    left: 0;
    background-color: rgb(0,0,0);  
  }
   /* Login form */
  .login_form_wrapper {
  
    background: transparent;
  }
  
  .login_wrapper {
  
    border-bottom: 1px solid #e4e4e4;
    float: left;
    width: 100%;
    background: rgb(255, 255, 255);
    padding: 50px;
  }
  
  .login_wrapper a.btn {
    color: #fff;
    width: 100%;
    height: 50px;
    padding: 6px 25px;
    line-height: 36px;
    margin-bottom: 20px;
    text-align: left;
    border-radius: 5px;
    background: #4385f5;
    font-size: 16px;
    border: 1px solid #4385f5;
  }
  
  
  .login_wrapper a i {
    float: right;
    margin: 0;
    line-height: 35px;
  }
  
  .login_wrapper a.google-plus {
    background: #db4c3e;
    border: 1px solid #db4c3e;
  }
  
  .login_wrapper h2 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #111;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    position: relative;
  }
  
  .login_wrapper .formsix-pos, .formsix-e {
    position: relative;
  }
  
  .form-group {

  }
  
  .login_wrapper .form-control {
    height: 53px;
    padding: 15px 20px;
    font-size: 14px;
    line-height: 24px;
    border: 1px solid #fafafa;
    border-radius: 3px;
    box-shadow: none;
    font-family: 'Roboto';
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #fafafa;
  }
  
  .login_wrapper .form-control:focus {
    color: #999;
    background-color: fafafa;
    border: 1px solid #4285f4 !important;
  }
  
  .login_remember_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:auto;
    box-sizing: border-box;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: #999;
  }
  
  .login_remember_box .control {
    position: relative;
   
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
  }
  
  .login_remember_box .control input {
  
  
  }
  .control--checkbox {
    display: flex;
  }
  .control--checkbox span{
    margin-left: 5px;
  }
  
  .login_remember_box .control__indicator {
  
    width: 15px;
    height: 15px;
    background: rgb(48, 35, 35);
    border: 1px solid #999;
  }
  
  .login_remember_box .forget_password {
    float: right;
    color: #db4c3e;
    line-height: 12px;
    text-decoration: underline;
  }
  .input_checkbox{
    margin: auto;
  }
  .login_btn_wrapper {
    padding-bottom: 20px;
    margin-bottom: 30px;
    border-bottom: 1px solid #e4e4e4;
  }
  
  .login_btn_wrapper .login_btn {
    text-align: center;
    text-transform: uppercase;
  }
  
  .login_message p {
    color: black;
    text-align: center;
    font-size: 16px;
    margin: 0;
  }

  .login_btn{
    width: 100%;
  }
     .login_btn_wrapper{
        margin-top: 20px;
     }
  .login_wrapper .login_btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4;
  
  }
  
  .login_wrapper a.btn:hover {
    background-color: #2c6ad4;
    border-color: #2c6ad4;
  }
  
  .login_wrapper a.google-plus:hover {
    background: #bd4033;
    border-color: #bd4033;
  }
  .form-message{
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    font-size: 12px;
    display: block;
    color: red;
    text-align: left;
  }
  @media screen and (max-width: 1200px) {
    .modal-content1 {
  
      margin: auto;
     
     
     
      width: 80%;
    }
  }
  @media screen and (max-width: 768px) {
    .modal-content1 {
  
      margin: auto;
    
      transform: translateY(-50%);
     
      width: 100%;
    }
  }
  
  